<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>SlideShare Live</title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="Sri Prasanna">
	<!-- Date: 2010-10-12 -->
	<link href="http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css" media="screen" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/css/application.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <div id="home">
    <% if( error != null ){ %>
      <p class="errorMessage">
        <%= error %>
      </p>
    <% } %>
    <form action="/slideshow" method="post" accept-charset="utf-8">
      <label for="slideshow_url">Enter a Slideshow URL</label><input type="text" name="slideshow_url" value="" id="slideshow_url">
      <input type="hidden" name="token" value="<%= token %>" id="token">
      <br />
      <input type="submit" value="Continue &rarr;">
    </form>
  </div>
</body>
</html>